* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.list {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #848282;
  border-bottom: 1px solid #848282;
}

.list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.mainbox {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.boxg1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.boxg2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.boxg3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.boxg4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.boxy1 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.boxy2 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.boxy3 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.boxy4 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.boxb1 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.boxb2 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.boxb3 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.boxb4 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  height: 120px;
  width: 100%;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
